.nav {
    height: 7vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.homeLink h1{
    font-size: 20px;
    font-weight: bold;
}

#reduxLink {
    font-size: 20px;
    font-weight: bold;
}

div > :any-link{
    text-decoration: none;
    color: white;
}